<h1><%= "#{@wiki.title} Collaborators" %></h1>
<%= form_for @wiki do %>
  <table>
    <% @users.each do |user| %>
      <tr>
        <td>
        <div class="control-group">
          <%= check_box_tag :user_ids, user.id, @wiki.users.include?(user), :name => 'wiki[user_ids][]' %>
        </div> </td>
        <td>
        <div class="control-group">
          <%= label_tag user.name %>
        </div></td>
        <td>
        <div class="control-group">
          <%= label_tag user.email %>
        </div></td>
      </tr>
    <% end %>
  </table>

  <div class="control-group">
    <div class="controls">
      <%= submit_tag "Save", class: 'btn' %>
    </div>
  </div>
<% end %>
